.btn-start-recipe {
  align-items: center;
  background-color: #1ab61a;
  border: none;
  bottom: 0;
  display: flex;
  font-size: 29px;
  height: 76px;
  justify-content: center;
  left: 11px;
  line-height: 34px;
  position: sticky;
  width: 339px;
}
