.filters-container {
  display: flex;
  justify-content: space-between;
  margin: 18px auto 22px;
  width: 326px;
}

.filters-container button {
  background-color: #c4c4c4;
  border: none;
  font-size: 18px;
  height: 45px;
  letter-spacing: 0.01em;
  line-height: 21px;
  width: 102px;
}
